body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer a,
header a {
  color: white;
}
.change-rate,
.change-rate div {
  text-decoration: none;
  cursor: pointer;
}
.change-rate:hover div {
  color: greenyellow;
}
.change-rate.current div {
  color: #888;
}
button.current-offset {
  margin: 0 4px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #6ab4dd;
  color: white;
  padding: 2px 16px;
}
.logout {
  color: #6ab4dd;
}
.error-text {
  color: red;
}
